/* Section Heading */

.section-heading {
  margin-block: 3rem 4rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: var(--fweight-900);
  border: 1px solid black;
  transition: var(--transition-short);
  z-index: 10;
}

.section-heading::before,
.section-heading::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--color-accent);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-heading::before {
  left: -1.8rem;
}

.section-heading::after {
  right: -1.8rem;
}

.section-heading:hover::before {
  z-index: -1;
  animation: left-dot 0.5s linear forwards;
}

.section-heading:hover::after {
  z-index: -1;
  animation: right-dot 0.5s linear forwards;
}

.section-heading:hover {
  border: 1px solid var(--color-accent);
  color: white;
  background-color: var(--color-accent);
  transition-delay: 0.5s;
}

/* =========================== */
/* *ANCHOR - R o u t e r ===== */
/* =========================== */

.router {
  margin-block: 1rem;
  font-size: var(--fsize-100);
  text-transform: capitalize;
}

.current-page {
  font-weight: var(--fweight-700);
}

/* Products Display Style */

.view-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-display {
  display: flex;
  gap: 1.5rem;
  color: var(--color-primary-dark);
  font-size: var(--fsize-500);
}

/* ====================== */
/* *ANCHOR - Header ===== */
/* ====================== */

/* *ANCHOR -  main section */

.main-section {
  margin: 0 auto;
  max-width: 110rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.all-products-section {
  flex: 1;
}

/* *ANCHOR -  side bar */

.side_bar {
  /* overflow: hidden; */
  padding-top: 1.5rem;
  width: 15rem;
  /* background-color: #ececec; */
  /* margin-right: 10%; */
}

.side_bar_item {
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--color-border-light);
}

.active {
  color: var(--button-color);
}

.cat-sidebar li {
  position: relative;
  transition: var(--transition-short);
}

.cat-sidebar li::after , 
.cat-sidebar li.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--color-primary-dark);
  transition: var(--transition-short);
}
.cat-sidebar li::after{
  width: 0;
}
.cat-sidebar li.active::after ,
.cat-sidebar li:hover::after
{
  width: 100%;
}

/* *STUB -  Price & Colors */
.colors {
  gap: 6px;
}

.color {
  transform: translateX(4rem);
  opacity: 0;
  transition: var(--transition-short);
  width: 1rem;
  height: 1rem;
  border-radius: 50rem;
}

.color-active {
  outline: 1px solid var(--color-accent);
  outline-offset: 2px;
}

.color1 {
  background-color: white;
  border: 1px solid var(--color-border-dark);
}
.color2 {
  background-color: #3498db;
}
.color3 {
  background-color: #777;
}
.color4 {
  background-color: maroon;
}

/* =========================== */

/*  Our Services */
.our-services {
  background-color: var(--background-color-grey);
}

.box {
  background-color: var(--background-color);
  box-shadow: -3px 3px 12px rgba(0, 0, 0, 0.05);
  transition: var(--transition-short);
}
.box p {
  color: var(--text-color-light);
  margin-top: 1rem;
}
.box i {
  font-size: 3rem;
  color: var(--color-accent);
  margin-bottom: 1.5rem;
}

.box:hover {
  translate: 0 -1.5rem;
}

/* ====================== */
/* *ANCHOR -  Footer ==== */
/* ====================== */
footer {
  background-color: var(--background-color-grey);
  padding-block: 2.5rem 1rem;
  font-size: var(--fsize-100);
}

footer .container {
  max-width: 90rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

footer h3 {
  margin-bottom: 1rem;
  font-size: var(--fsize-300);
}

footer a {
  margin-bottom: 1rem;
  border-bottom: 1px solid transparent;
}

footer .quick-links a:hover {
  border-bottom: 1px solid var(--color-border-dark);
}

.social {
  margin-top: 1rem;
  font-size: var(--fsize-500);
}

.social a:hover .fa-facebook {
  color: #1877f2;
}

.social a:hover .fa-instagram {
  color: #c32aa3;
}

.social a:hover .fa-youtube {
  color: red;
}

/* Newsletter */
.newsletter {
  margin-top: 0.75rem;
  background-color: white;
  border-radius: 50rem;
  border: 1px solid var(--color-border-dark);
}

.newsletter i {
  margin-inline: 0.5rem;
  font-size: var(--fsize-300);
}

.newsletter input {
  border: none;
  outline: none;
}

.newsletter button {
  background-color: white;
  aspect-ratio: 1/1;
  border: 1px solid var(--color-border-dark);
  border-radius: 5rem;
}

.newsletter button i {
  font-size: var(--fsize-200);
}

.payment {
  margin-top: 5rem;
}

.copyright {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--color-border-light);
}

.copyright .heart {
  color: rgb(255, 14, 14);
  margin-inline: 3px;
}

.copyright .footer-logo {
  font-weight: var(--fweight-800);
}

/* ===================== */
/* ===== Animation ===== */
/* ===================== */

/* Animation */
@keyframes left-dot {
  50% {
    left: 0%;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 51%;
    height: 100%;
    border-radius: 0%;
  }
}

@keyframes right-dot {
  50% {
    right: 0%;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 51%;
    height: 100%;
    border-radius: 0%;
  }
}
