/* ====================== */
/* *ANCHOR - Header ===== */
/* ====================== */

.cartContainer {
  min-height: 33vh;
}

/* -------------------------------------------- */
/* *ANCHOR - Cart Style */
.bg-danger {
  background: rgb(120, 3, 3);
}
.bg-dark {
  background: black;
}
.bg-primary {
  background: rgb(12, 12, 165);
}
/* *ANCHOR - process */
.buyingProcess {
  overflow: hidden;
}

.process {
  color: var(--text-color-light);
  background-color: #fff;
  position: relative;
}

.activeProcess {
  color: var(--color-primary-dark);
}
.process:nth-child(1) {
  z-index: 999999;
}
.process:nth-child(2)::before,
.process:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 26em;
  height: 2px;
  background-color: var(--color-primary-light);
  z-index: -1;
}

.process:nth-child(2)::before {
  left: -1.5vw;
  transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
}

.process:nth-child(2)::after {
  right: -1.5vw;
  transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
}

/* *ANCHOR - cart elements */
.eleImage img {
  object-fit: fill;
}
.decrease,
.increase {
  font-size: var(--fsize-400);
}
.quantity {
  display: inline-block;
  font-size: var(--fsize-500);
  min-width: 2.2rem;
}
/* *ANCHOR - order summary */
.orderSummary {
  position: sticky;
  top: 0;
}
.promoInput {
  outline: none;
  border: 1px solid var(--color-dark-blue);
}
.btn {
  border: 0;
  cursor: pointer;
  outline: none;
  font-size: var(--fsize-300);
  transition: var(--transition-short);
  -webkit-transition: var(--transition-short);
  -moz-transition: var(--transition-short);
  -ms-transition: var(--transition-short);
  -o-transition: var(--transition-short);
}
.btn-primary {
  color: whitesmoke;
  background-color: var(--color-dark-blue);
}
.btn-primary:hover {
  background-color: rgb(0, 41, 76);
}
.note {
  font-size: var(--fsize-100);
  color: rgba(113, 113, 113, 0.781);
}
/* *ANCHOR - Responsive Design */
@media screen and (max-width: 1220px) {
  .cartElements {
    width: 50%;
  }
  .orderSummary {
    width: 40%;
    flex-grow: 1;
    margin-left: 1.2rem;
  }
  .element {
    justify-content: space-between;
  }
  .elementData {
    flex-direction: column;
    width: fit-content;
    align-items: center;
    text-align: center;
  }
  .element .eleImage {
    width: 40%;
  }
}
@media screen and (max-width: 940px) {
  .cartContainer {
    flex-direction: column;
  }
  .cartElements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  .orderSummary {
    position: static;
    width: 80%;
    margin-inline: auto;
  }
}
