/* NOTE start login page style */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--background-color-grey);
}

.container {
  margin: 0 auto;
}

.input-rem {
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-rem label {
  font-size: var(--fsize-100);
}

.form-login {
  background-color: var(--background-color);
  padding-block: 5em;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: var(--fsize-100);
  line-height: 1.5;
  color: var(--color-primary-dark);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--color-border-light);
}

.login-card {
  box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.login-btn {
  width: 100%;
  padding: 0.5rem 2rem;
  /* height: calc(1.5emvar(--fsize-200) + 2px); */
  font-size: var(--fsize-200);
  font-weight: var(--fweight-500);
  line-height: 1.5;
  color: white;
  background-color: var(--color-primary-dark);
  background-clip: padding-box;
  border: 1px solid var(--color-border-light);
  cursor: pointer;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--color-border-dark);
}

.btn-login-with {
  background-color: var(--background-color);
  color: black;
  font-size: var(--fsize-200);
  transition: var(--transition-short);
  /* border: 1px solid var(--color-border-light); */
}

.btn-login-with:hover {
  background-color: #eee;
}

.login-links {
  color: var(--color-accent);
  font-size: var(--fsize-100);
  border-bottom: 1px solid transparent;
}

.login-links:hover {
  border-bottom: 1px solid var(--color-accent);
}

/* section image  */
.bg-login-image {
  background: url(/assets/images/login.jpg);
  background-position: center;
  background-size: cover;
}

/* animation animate charcter  */
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgba(158, 63, 248, 0.4) 0%,
    rgba(102, 177, 98, 0.4) 29%,
    rgba(233, 231, 106, 0.4) 67%,
    #383535 80%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: var(--fsize-800);
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 990px) {
  .bg-login-image {
    display: none;
  }
  .form-login {
    width: 100%;
  }
  .login-card {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .form-login {
    width: 100%;
  }
}
/*NOTE end login page style  */
